[settings]
line_length = 79
multi_line_output = 3
include_trailing_comma = True
known_third_party = PIL,astropy,corner,dask,dask_jobqueue,healpy,joblib,matplotlib,numba,numpy,orjson,pandas,pygedm,pyinstrument,pytest,sbi,scipy,setuptools,termcolor,torch,torchvision,tqdm
